
# Ignore gradle.
/.gradle/

# Ignore built content.
/bin/
/build/

# Ignore VIM swap files.
.*.swp

# Ignore Eclipse files
/.classpath
/.project
/.settings


# JVM sometimes creates these file.
.attach_pid*

